@use "../utils" as u;

.wrapper {
  position: relative;

  .stripes {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    // height: 100%;
    z-index: -40;
    transform: translate(-50%, -50%);
  }

  main {
    display: flex;
    background: url("https://ik.imagekit.io/l4k8brcjb/images/about-us-bg.png?ik-sdk-version=javascript-1.4.3&updatedAt=1657282805881");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: u.rem(120) u.rem(100);
    align-items: center;

    aside {
      flex: 0.6;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    section {
      flex: 1;
    }

    & > :not(:last-child) {
      margin-right: u.rem(100);
    }
  }

  @include u.breakpoint(xLarge) {
    main {
      padding: u.rem(100) u.rem(80);

      aside {
        flex: 1;
      }

      & > :not(:last-child) {
        margin-right: u.rem(60);
      }
    }
  }
  @include u.breakpoint(large) {
    main {
      padding: u.rem(100) u.rem(80);
      flex-direction: column;

      aside {
        justify-content: flex-start;
        img {
          max-width: u.rem(300);
        }
      }

      & > :not(:last-child) {
        margin-right: u.rem(0);
        margin-bottom: u.rem(30);
      }
    }
  }
  @include u.breakpoint(medium) {
    main {
      padding: u.rem(80) u.rem(40);
    }
  }
  @include u.breakpoint(xsmall) {
    main {
      // background-size: 100% 100%;

      padding: u.rem(80) u.rem(30);
    }
  }
}
