@use "../utils" as u;

.heroWrapper {
  position: relative;

  .heroBlobTopRight {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -40;

    @include u.breakpoint(large) {
      display: none;
    }
  }

  .heroStripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    z-index: -40;
  }

  .eggStripe1 {
    position: absolute;
    top: 12%;
    right: 0;
    width: 30%;
    z-index: -40;
  }

  .eggStripe2 {
    position: absolute;
    top: 95%;
    right: 10%;
    width: 50%;
    z-index: -40;
  }

  .eggStripe3 {
    position: absolute;
    top: 40%;
    right: 0%;
    width: 52%;
    z-index: -40;
  }

  .heroEgg {
    position: absolute;
    top: 58%;
    // top: 90%;
    transform: translateY(-50%);
    right: -6%;
    z-index: -20;
    // border: 2px solid transparent;
    width: 60%;
    object-fit: cover;
    // border: 2px solid red;
  }
  // .heroEgg {
  //   position: absolute;
  //   top: 62%;
  //   transform: translateY(-50%);
  //   right: -6%;
  //   z-index: -20;
  //   border: 2px solid transparent;
  //   width: 60%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;

    p {
      max-width: u.rem(500);
    }

    .heroRightImg {
      display: none;
    }
  }

  @include u.breakpoint(large) {
    .hero {
      p {
        max-width: u.rem(340);
      }
    }
  }

  @include u.breakpoint(medium) {
    .heroEgg {
      display: none;
    }

    .hero {
      flex-direction: column;
      align-items: unset;
      padding-top: u.rem(160);

      .heroRightImg {
        display: block;
        width: 100%;
        position: relative;
        right: -60px;
        margin-top: u.rem(20);
      }
    }

    .eggStripe2 {
      display: none;
    }
  }

  @include u.breakpoint(xsmall) {
    .hero {
      padding-top: u.rem(120);
      justify-content: center;
    }
  }
}
