@use "../utils" as u;

.wrapper {
  position: relative;
  overflow-y: hidden;

  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: u.rem(44);

    @include u.breakpoint(xLarge) {
      gap: u.rem(30);
    }
    @include u.breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
      gap: u.rem(20);
    }
    @include u.breakpoint(small) {
      grid-template-columns: repeat(2, 1fr);
      gap: u.rem(16);
    }
  }
}
