@use "../utils" as u;

.card {
  background: #000000;
  border-radius: u.rem(10);
  // height: u.rem(152);
  border: 4px solid #d09756;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }

  // &.active {
  //   background: #d9d9d9;
  // }
}
